@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utility Classes 
 Used for frequently reused style patterns (e.g., typography) */
@layer utilities {
  .text-body {
    @apply text-foreground font-nunitoRegular text-base;
  }

  .text-title {
    @apply text-foreground font-nunitoBold text-2xl;
  }

  .text-section-title {
    @apply text-foreground font-nunitoRegular text-xl;
  }

  .text-meta {
    @apply text-foreground-secondary font-nunitoRegular text-sm;
  }

  .layout-flex-center {
    @apply flex-1 items-center justify-center;
  }
}
